*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

.header{
    height: 837px;
    background-image: url(images/developer.png),url(images/header_bg.png);
    background-color: rgb(219, 212, 203);
    background-repeat: no-repeat;
    background-position: left, bottom right;
    

}

.navbar{
    display: flex;
    padding:50px 200px;
    justify-content: space-between;    

}


.nav-logo{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-weight: 800;
}
.text-color{
    color: #fd0a0a;
}


nav ul{
    display: flex;
    align-items: center;
}


nav li{
    list-style: none;
    margin-left: 50px;

}

a{
    text-decoration: none;
    color: black;
}

a:hover{
     
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.primary-button{
    border: 0;
    padding: 18px 35px ;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: yellowgreen;
    background: grey;
}


.banner{
    display: flex;
    width: 85%;
    align-items: center;
    margin:0 200px;
}
.banner-sub-title{
    color:  #474747;
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    color: #181818;
    font-size: 60px;
    font-weight: 700;
    margin-bottom:20px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* margin-top: 40px; */
    margin-bottom: 50px;
    width:60%;
}

.my-photo{

    height: 680px;
    background-repeat: no-repeat;
    border-radius: 50%;
    
}


main {
    max-width: 1140px;
    margin: 0 auto;
}


.about{
    margin-top: 50;
    margin-bottom: 50;
    border-radius: 50px;
    background: lightgreen;
    margin-top: 100px;
    margin-left: 200px;
    text-align: center;
     padding: 100px 180px; 
    width: 70%;
}
.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    padding: 25px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin: 30px 0px;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
    color: light black;
}


.about-info{
    color: gray;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.info-description{
    color: gray;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.what-i-do{
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom:50px;
    padding: 100px 180px;
   
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    background: #fff;
    box-shadow: 0px 6px 50px rgba(0,0,0,0.06);
    border-radius: 5px;
    padding: 30px;
 }

 
.skill-title{
    font-size:20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom:20px;
}
.skill-description{
color: #757575;
}
 
.resume-content{
    background:lightskyblue;
    display: flex;
    justify-content: space-between;
    gap:24px;
    padding: 20px 20px;
}
.resume-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-left: 50px;
}
.resume-item{
    margin-bottom: 30px;
}
.title{
    color:  #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
} 


.resume-description{
    color: gray;
    
}



.vl {
  border-left: 6px solid gray;
  height: 500px;
}

.resume-btn{
    text-align: center;
    margin-top:50px;
    margin-bottom:50px;
}

.footer-contact{
    display: flex;
    margin-top: 50px;
    background: lightgray;
    padding: 130px 230px;
    margin-bottom: 50px;
    gap: 120px;
 }
 .footer-contact a{
     margin-right: 24px;
     color: #fd0a0a;
 
 }
 
 .footer-contact .section-title{
     text-align: left;
 }
 .footer-contact input[type="text"], input[type="email"], textarea{
     margin-bottom:24px;
     width: 100%;
     border: 0;
     border-radius: 5px;
    background:  white;
    padding: 10px 30px;
 }
 input{
     height:64px;
 }